<form class="form-inline">
    <mat-form-field class="full-width">
        <input matInput type="search" placeholder="Search" name="searchInput" placeholder="Search"
            #searchInput="ngModel" [(ngModel)]="searchText">
    </mat-form-field>
    <!-- <input class="form-control"  name="searchInput" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;"/> -->
    <button mat-raised-button color="primary" class="btn btn-outline-primary" (click)="searchText=''">X</button>
</form>
<table class="table table-responsive-sm">
    <thead class="thead-dark">
        <th>Full name</th>
        <th>Group</th>
        <th>Email</th>
        <th>Payed</th>
        <th>Position</th>
        <th></th>
    </thead>
    <ng-container *ngFor="let lid of lidArray">
        <tr *ngIf="filterCondition(lid)">
            <td>{{ lid.fullName }}</td>
            <td>{{ lid.group }}</td>
            <td>{{ lid.email }}</td>
            <td>{{ lid.payed }}</td>
            <td>{{ lid.functie }}</td>
            <td>
                <button mat-raised-button color="primary" (click)="lidService.populateForm(lid)">&nbsp; Edit
                    &nbsp;</button> &nbsp;
                <button mat-raised-button color="warn" (click)="onDelete(lid.$key)">Delete</button>
            </td>
        </tr>
    </ng-container>
</table>
