

      <mat-menu  #menu="matMenu" xPosition="after">
        <button mat-menu-item routerLink="/home">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item routerLink="/">
          <mat-icon>fingerprint</mat-icon>
          <span>Name</span>
        </button>
        <button mat-menu-item routerLink="/about">
          <mat-icon>info</mat-icon>
          <span>About</span>
        </button>
      </mat-menu>

<button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>