<form (ngSubmit)="onSubmit(firstName.value,lastName.value)">
    <div class="for-group">
    <label for="firstName">Firstname</label>
    <input required id="firstName" type="text" class="form-control" ngModel name="firstName" #firstName="ngModel">
    <div class="alert alert-danger" *ngIf="!firstName.valid">Firstname is required</div>
    </div>
    <div class="form-group">
        <label for="lastName">Lastname</label>
        <input required type="text" id="lastName" class="form-control" name="lastName" ngModel #lastName="ngModel">
        <div class="alert alert-danger" *ngIf="!lastName.valid">Lastname is required</div>
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
    <!-- <button class="btn btn-primary" routerLink="home" *ngIf="nameSet">To Home</button> -->
</form>